@CHARSET "ISO-8859-1";

.centralizarTexto {
	text-align: center;
}

body {
	background: #FAF7F7;
}

.centralizado {
	margin: 0 auto;
	width: 1000px;
	align: center;
	padding-left: 100px;
	padding-right: 100px;
}

.centralizadoFornecedor {
	margin: 0 auto;
	width: 1500px;
	align: center;
	padding-left: 100px;
	padding-right: 100px;
}

.centralizarLogin {
	position: absolute;
	left: 25%;
	top: 25%;
	right: 25%;
	bottom: 25%;
}

border


:

 

solid


;
}
.centralizadoFormulario {
	margin: 0 auto;
	width: 700px;
	/* 	padding: 20px; */
	/* 	color: black; */
	align: center;
	/* 	padding-bottom: 10px; */
	/* 	padding-top : 10px; */
	padding-left: 100px;
	padding-right: 100px;
}

.divLista {
	margin-top: 60px;
	width: 600px;
	padding: 20px;
}

.alinhadoEsquerda {
	align: left;
}

.alinhadoDireita {
	text-align: right;
	/* 	padding-right: px; */
	padding-bottom: 10px;
}
}